


.profile_image {
    width: 210px;
    height: 140px;
}
.stylist-images {
    height: 450px;
    margin: 20px;
}


.stylist-frame {
    margin-bottom: 0px;
}


.stylist-picname {
    margin: 0px;
    height: 130px;
}


