


.profile_image {
    width: 210px;
    height: 140px;
}
.panel.panel-danger {
    height: 450px;
    margin: 20px;
    background-color: #ebccd1;
}
.panel-heading {
    background-color: #ebccd1;

    height: 270px;
}

.panel {
    margin-bottom: 0px;
}


.panel-body {
    margin: 0px;
    height: 130px;
}