


.profile_image {
    width: 210px;
    height: 140px;
}
.panel.panel-danger {
    height: 450px;
    margin: 20px;
}


.panel {
    margin-bottom: 0px;
}


.panel-body {
    margin: 0px;
    height: 130px;
}


