
.row {
    background-image: url("/cabinet-575361_1280.png");
    background-size: cover;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    margin-top: 50px;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.left {
    float: left;
    margin-left: 5px;
    margin-right: 60px;
    margin-top: 80px;
}

.right {
    float: right;
    /*right: 300;*/
    /*bottom: 400;*/
    margin-right: 10px;
    margin-left: 100px;
    margin-top: 80px;
}