.panel-myitem-heading{

    height: 150px;
    width: 145px;
    margin-top: 15px;
    border-radius: 4px;

    padding: 0;
}
    
.panel-myitem-body{
    height: 20px;
    width: 145px;
    text-align: center;
    padding:0px;
    border-radius: 4px;
}


.cloths_image {
    height: 130px;
    width: 130px;
    position: absolute;
    /* margin: auto; */
    right: -53px;
}
.btn {
    position: relative;
}


.row{
    margin:0px;
    
}




/*.myitem-next {*/
/*    position:relative;*/
/*    margin:0;*/
/*}*/
            
.form-group{
    font-size: 20px;
    /*color:white;*/
    background-color:white;
       border-radius: 4px;
padding-top:3px;
    
}