.panel-myitem-heading{

    height: 160px;
    width: 155px;
    margin-top: 15px;
    border-radius: 4px;

    padding: 0;
}
    
.panel-myitem-body{
    height: 20px;
    width: 155px;
    text-align: center;
    padding:0px;
    border-radius: 4px;
}


.cloths_image{
    height: 140px;
    width: 140px;
    
}


.row{
    margin:0px;
    
}




.myitem-next {
    position:relative;
    margin:0;
}
            