

.panel-default{
    height: 132.5px;
    width: 115px;
    padding: 0;
    margin: 5px;
    position:relative;
    display: table-cell;
    
}
.item
.panel-heading {
    height: 110px;
    width: 110px;
    padding-top: 5px;
    padding-left: 5px;
    
}
    
.panel-body{
    height: 20px;
    width: 110px;
    padding: 0;
    margin: 0;
    
}

/*.col-lg-4{*/
/*    display: inline;*/
/*}*/

.item
.row{
    display:flex;
}

/*.closetin{*/
/*    display: flex;*/
/*    width: 120px;*/
/*}*/

