.logo{
    /*z-index:1;*/
    height: 51px;
    margin:0;
    margin-right:30px;
    padding:0;
    border-radius: 4px;
}

.user-navstyle {
    padding:0;
}



.collapse.navbar-collapse{
    
    padding-right:10px;
}


.navbar {
    font-family: "Abril-Fatface";
    margin-bottom: 0;
}
