.panel-heading{
    /*position: relative;*/
    /*background-color: yellow;*/
    height: 155px;
    width: 155px;
    margin-top: 15px;
    /*margin-bottom: 37px;*/
    padding: 0;
    /*z-index:10 !important;*/
}
    
.panel-body{
    /*position:relative;*/
    height: 20px;
    width: 155px;
/*    padding: 0;*/
/*    margin-right: 10px;*/
/*        margin-top: 3px;*/
/*;*/
}


.cloths_image{
    height: 140px;
    width: 140px;
    
}


.row{
    margin:0px;
    /*margin-bottom: 20px;*/
    /*margin-top: 20px;*/
    /*padding:4px;*/
    
}