.panel-heading{
    position: relative;
    background-color: white;
    height: 115px;
    width: 115px;
    margin-top: 15px;
    /*margin-bottom: 37px;*/
    padding: 0;
    z-index:10 !important;
}
    
.panel-body{
    position:relative;
    height: 20px;
    width: 115px;
    padding: 0;
    margin-right: 10px;
    
}


.cloths_image{
    height: 100px;
    width: 100px;
    
}


.row{
    margin:0px;
    margin-bottom: 20px;
    padding:4px;
    
}