
.card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    /*width:360px;*/
    /*height: 440px;*/
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
}
.card .card-header.card-header-image img {
    width: 100%;
    border-radius: 6px;
    pointer-events:none;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}
.card-header.card-header-image a {
    display: block;
}

.course-title{
	text-align:center;
}



.button {
	position: relative;
	z-index: 1;
	display: block;
	overflow: hidden;
	width: 130px;
	height:60px;
	margin-right: auto;
	margin-left: auto;
	padding: 0.3em 1em;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid #da3c41;
	border-radius: 4px;
	background: #da3c41;
}
.button::after {
	position: absolute;
	z-index: -1;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 0;
	content: '';
	transition: 0.3s;
	-webkit-transform: translate(-50%,-50%) rotate(45deg);
	transform: translate(-50%,-50%) rotate(45deg);
	opacity: 0;
	background: #ffffff;
}
.button:hover {
	color: #da3c41;
}
.button:hover::after {
	height: 250%;
	opacity: 1;
}
.button:active::after {
	height: 350%;
	opacity: 1;
}

.button:hover a::after{
	
}

.material-icons{
	margin-top:10px;
}

.course-description{
	text-align:center;
}


/*.related-products{*/
/*    background-image: url("/priceimg/4827196796_c511b4be80_o.jpg");*/
/*    background-size: 100%;*/
/*}	*/

body{
      /*position: absolute;*/
      /*z-index: -1;   */
      /*width: 100%;*/
      /*height: 100%;*/
      background-image: url('/priceimg/4827196796_c511b4be80_o.jpg');
      /*background-size: cover;*/
      /*opacity: 1;*/
      /*top: 0;*/
      /*left: 0;*/
      /*bottom: 0;*/
      /*right: 0;*/
}

footer {
   position:relative;
   margin-top:60px;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   
    
}

.related-products{
	font-family: "Abril-Fatface";
}


/*.card.card-product{*/
/*	border-color: black;*/
/*}*/

.fix-space{
		text-align:center;

	/*font-size: 36px;*/
}